{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_produit_index') }}" class="btn btn-link mt-3">Retour à la liste</a>
{% endblock %}